.bar
    height 100%
    padding 1rem

    &__data
        display flex

    &__image
        flex 0 1 50%
        height 300px

    &__info
        flex 1 1 auto
        display flex
        flex-direction column
        justify-content center
        align-items center

    &__icon
        padding-right 1rem

    &__title
        font-size 2rem

    &__title, &__phone, &__city, &__address, &__addressItem, &__price, &__rating
        margin-top .5rem
        display flex
        align-items center