.bars(data-bind="page: {id: 'bars', afterShow: afterShow.bind($data)}")
    .bars__search
        input.bars__searchInput(
            type="text",
            placeholder="Search for bars...",
            data-bind="value: search, valueUpdate: 'afterkeydown'")
    include ../loader/loader.pug
    .empty(data-bind="{visible: !loading && bars.length === 0}")
        span We could not find any items
    .list(data-bind="foreach: bars")
        .list__item.item(data-bind="css: { 'item--selected': $parent.assignedBarId() === id}")
            .item__title(data-bind="{text: name}")
            .item__thumbnail(data-bind="style: {background: `url(${image_url}) center center / cover no-repeat`}")
            .item__location(data-bind="foreach: location.display_address")
                .location__item(data-bind="text: $data")
            .item__actions
                span.item__action(data-bind="click: () => $parent.addToBar($data)")
                    i.fas.fa-check
                span.item__action(data-bind="click: $parent.showOnMap.bind($data)")
                    i.fas.fa-map-marker