.location-view-modal
    position absolute
    width 100%
    height 100%
    display flex
    justify-content center
    align-content center
    z-index -1
    background #000000
    display: none

    &__content
        flex 0 1 600px
        height 400px

    &__header
        text-align right
    
    &__close
        cursor pointer
