.footer
    padding 1rem
    background black
    display flex
    align-items center

    &__social
        margin-left auto

    &__socialItem
        color white
        margin 0 .5rem

    &__author
        font-size 1.5rem